.vscode/**
.vscode-test/**
.gitignore
.git/**
README-dev.md
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.js.map
.nyc_output
coverage/**
.nycrc
node_modules/**
src/**
esbuild.js
tsconfig.json
eslint.config.mjs
*.vsix
test*
debug*
